<header class="header">
    <div class="row">
        <div class="columns large-3 header__ad-wrap">
            <a href="#"><img src="http://placehold.it/350x150" alt=""></a>
        </div>
        <div class="columns large-6 header__logo-wrap">
            <a href="#"><img src="http://placehold.it/350x150" alt=""></a>
        </div>
        <div class="columns large-3 header__weather-wrap">
            weather

            Subscribe

            Login
        </div>
    </div>
    <nav class="primary-nav">
        <div class="row column menu-centered">
            <ul class="menu primary-nav__links">
                <li><a href="#">News</a></li>
                <li><a href="#">Sport</a></li>
                <li><a href="#">Business</a></li>
                <li><a href="#">World</a></li>
                <li><a href="#">Politics</a></li>
                <li><a href="#">Comment</a></li>
                <li><a href="#">Property</a></li>
                <li><a href="#">Entertainment</a></li>
                <li><a href="#">Lifestyle</a></li>
                <li><a href="#">Travel</a></li>
            </ul>
        </div>
    </nav>
</header>
