<div class="top-strip">
    <div class="row">
        <div class="large-4 columns">
            <ul class="menu top-strip__social">
                <li>
                    <a href="#">Facebook</a>
                </li>
                <li>
                    <a href="#">Twitter</a>
                </li>
                <li>
                    <a href="#">Google Plus</a>
                </li>
            </ul>
        </div>
        <div class="large-4 columns">
            <time datetime="2016-09-29 01:25+1000" class="top-strip__date">
                1:25PM Thu Sep 29, 2016</time>
        </div>
        <div class="large-4 columns">
            <ul class="menu top-strip__links">
                <li>
                    <a href="#">Top sites</a>
                </li>
                <li>
                    <a href="#">Top photos</a>
                </li>
                <li>
                    <a href="#">Top videos</a>
                </li>
            </ul>
        </div>
    </div>
</div>
